
    <!-- Header Banner -->
    <section class="banner-header bg-img bg-fixed" data-overlay-dark="5" data-background="img/banner/15.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subtitle">Hotel Manager</div>
                    <div class="title">Daniel Martin</div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Single -->
    <section class="team-single section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="item">
                        <div class="img"> <img src="img/team/a.jpg" class="img-fluid" alt="">
                            <div class="curv-butn icon-bg">
                                <div class="social-icons">
                                    <a href="mailto:info@welyn.com" class="link"> <i class="fa-solid fa-envelope"></i> </a>
                                    <a href="tel:+12345678910" class="link"> <i class="fa-solid fa-phone"></i> </a>
                                    <a href="https://www.instagram.com/" target="_blank" class="link"> <i class="fa-brands fa-instagram"></i> </a>
                                    <a href="https://api.whatsapp.com/send?phone=+12345678910" target="_blank" class="link"> <i class="fa-brands fa-whatsapp"></i> </a>
                                    <a href="#" class="link bg-000 plus-link"> <i class="fa-solid fa-plus"></i> </a>
                                </div>
                                <div class="br-left-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="br-right-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-12 cont">
                    <h6>I work as hotel manager at Rixos Hotel.</h6>
                    <p>Hotel usam miss in the amet ravida hareran anuam the duruss uctus the drana accumsan usto aliquam sit amet auctor orci done vita erisus nisan sapien in the miss rana fermen.</p>
                    <ul class="list-unstyled list mb-60">
                        <li>
                            <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                            <div class="list-text">
                                <p>Financial Management</p>
                            </div>
                        </li>
                        <li>
                            <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                            <div class="list-text">
                                <p>Team Work</p>
                            </div>
                        </li>
                    </ul>
                    <!-- tab -->
                    <ul class="nav nav-tabs simpl-bord mt-60" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation"> <span class="nav-link active cursor-pointer" id="skills-tab" data-bs-toggle="tab" data-bs-target="#skills">Skills</span> </li>
                        <li class="nav-item" role="presentation"> <span class="nav-link cursor-pointer" id="biography-tab" data-bs-toggle="tab" data-bs-target="#biography">Biography</span> </li>
                        <li class="nav-item" role="presentation"> <span class="nav-link cursor-pointer" id="education-tab" data-bs-toggle="tab" data-bs-target="#education">Education</span> </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="skills" role="tabpanel" aria-labelledby="skills-tab">
                            <p>Skill utate ons amet ravida nuam the duru miss sapien.</p>
                            <ul class="list-unstyled list mb-60">
                                <li>
                                    <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                    <div class="list-text">
                                        <p>Leadership</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                    <div class="list-text">
                                        <p>Customer Service</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="biography" role="tabpanel" aria-labelledby="biography-tab">
                            <p>Biography utate ons amet ravida haretra nuam the duru miss uctus the drana accumsan justo aliquam sit amet auctor orci sapien.</p>
                        </div>
                        <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                            <p>Education utate ons amet ravida haretra nuam the duru miss uctus the drana accumsan justo aliquam sit amet auctor orci sapien.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->
    <section class="team section-padding bg-lightbrown">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mb-20">
                    <div class="section-subtitle">Our Experts</div>
                    <div class="section-title">Meet The Team</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="img"> <img src="img/team/b.jpg" alt="" class="img-cover">
                            <div class="social-icons">
                                <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                                <a href="#"> <i class="fab fa-x-twitter"></i> </a>
                                <a href="#"> <i class="fab fa-instagram"></i> </a>
                                <a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                            </div>
                        </div>
                        <div class="info">
                            <h5><a href="team-single.html">Jesica Brown</a></h5>
                            <p>Front Office</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="img/team/c.jpg" alt="" class="img-cover">
                            <div class="social-icons">
                                <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                                <a href="#"> <i class="fab fa-x-twitter"></i> </a>
                                <a href="#"> <i class="fab fa-instagram"></i> </a>
                                <a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                            </div>
                        </div>
                        <div class="info">
                            <h5><a href="team-single.html">Eleanor Arya</a></h5>
                            <p>Administrator</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> 
                            <img src="img/team/d.jpg" alt="" class="img-cover">
                            <div class="social-icons">
                                <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                                <a href="#"> <i class="fab fa-x-twitter"></i> </a>
                                <a href="#"> <i class="fab fa-instagram"></i> </a>
                                <a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                            </div>
                        </div>
                        <div class="info">
                            <h5><a href="team-single.html">Sophia Mia</a></h5>
                            <p>Receptionist</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="img/team/e.jpg" alt="" class="img-cover">
                            <div class="social-icons">
                                <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                                <a href="#"> <i class="fab fa-x-twitter"></i> </a>
                                <a href="#"> <i class="fab fa-instagram"></i> </a>
                                <a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                            </div>
                        </div>
                        <div class="info">
                            <h5><a href="team-single.html">Jason Lucas</a></h5>
                            <p>Floor Clerk</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="img/team/f.jpg" alt="" class="img-cover">
                            <div class="social-icons">
                                <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                                <a href="#"> <i class="fab fa-x-twitter"></i> </a>
                                <a href="#"> <i class="fab fa-instagram"></i> </a>
                                <a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                            </div>
                        </div>
                        <div class="info">
                            <h5><a href="team-single.html">Dorothy Nancy</a></h5>
                            <p>Executive Assistant</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"> 
                            <img src="img/team/a.jpg" alt="" class="img-cover">
                            <div class="social-icons">
                                <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                                <a href="#"> <i class="fab fa-x-twitter"></i> </a>
                                <a href="#"> <i class="fab fa-instagram"></i> </a>
                                <a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                            </div>
                        </div>
                        <div class="info">
                            <h5><a href="team-single.html">Daniel Martin</a></h5>
                            <p>Hotel Manager</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Booking Search -->
    <section class="section-padding bg-img bg-fixed" data-overlay-dark="5" data-background="img/rooms/01.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mb-20">
                    <div class="section-subtitle">Hotel Experience</div>
                    <div class="section-title white">Booking Form</div>
                </div>
            </div>
            <div class="booking-inner clearfix">
                <form action="#" class="form1 clearfix">
                    <div class="col1 c1">
                        <div class="input1_wrapper border-l border-b border-t border-r">
                            <label>Check in</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input datepicker" placeholder="Check in">
                            </div>
                        </div>
                    </div>
                    <div class="col1 c2">
                        <div class="input1_wrapper border-l border-b border-t border-r">
                            <label>Check out</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input datepicker" placeholder="Check out">
                            </div>
                        </div>
                    </div>
                    <div class="col2 c3">
                        <div class="select1_wrapper border-l border-b border-t border-r">
                            <label>Adults</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">1 Adult</option>
                                    <option value="2">2 Adults</option>
                                    <option value="3">3 Adults</option>
                                    <option value="4">4 Adults</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c4">
                        <div class="select1_wrapper border-l border-b border-t border-r">
                            <label>Children</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Children</option>
                                    <option value="1">1 Child</option>
                                    <option value="2">2 Children</option>
                                    <option value="3">3 Children</option>
                                    <option value="4">4 Children</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c5">
                        <div class="select1_wrapper border-l border-b border-t border-r">
                            <label>Rooms</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">1 Room</option>
                                    <option value="2">2 Rooms</option>
                                    <option value="3">3 Rooms</option>
                                    <option value="4">4 Rooms</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col3 c6">
                        <button type="submit" class="btn-form1-submit">Check Now</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
   