{% extends "base.html" %}
{% load static %}

{% block title %}{{ restaurant.name }} | {{ hotel.name }}{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper">
            <a class="logo" href="{% url 'home-page' %}"> <img src={% static "img/logo.png" %} class="logo-img" alt=""> </a>
            <!-- <div class="logo"><h2>Rixos</h2></div> -->
        </div>
        <!-- Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="fa-light fa-bars"></i></span> </button>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home-page' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'hotel-rooms' hotel_slug=hotel.slug %}">Rooms</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'restaurant-list' hotel_slug=hotel.slug %}">Dining</a></li>

                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Services <i class="fa-light fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'hotel-facilities-page' hotel_slug=hotel.slug %}" class="dropdown-item"><span>Facilities</span></a></li>
                        <li><a href="amenities.html" class="dropdown-item"><span>Amenities</span></a></li>
                        <li><a href="spa.html" class="dropdown-item"><span>Spa & Wellness</span></a></li>
                        <li><a href="offers.html" class="dropdown-item"><span>Special Offers</span></a></li>
                    </ul>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="">Events</a></li>
                <li class="nav-item"><a class="nav-link" href="">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">About<i class="fa-light fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog1.html" class="dropdown-item"><span>Blog</span></a></li>
                        <li><a href="team.html" class="dropdown-item"><span>Team</span></a></li>
                        <li><a href="faq.html" class="dropdown-item"><span>FAQs</span></a></li>
                        <li><a href="about.html" class="dropdown-item"><span>About Us</span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-right">
                <div class="phonex"><a href="tel:+12345678910"><i class="fa-solid fa-phone"></i> +1 234 567 8910</a></div>
            </div>
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<!-- Header Banner -->
<section class="banner-header full-height valign bg-img" data-overlay-dark="4" data-background="{% if restaurant.banner_image %}{{ restaurant.banner_image.url }}{% else %}{% static 'img/banner/11.jpg' %}{% endif %}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="subtitle">{{ restaurant.slogan }}</div>
                <div class="title mb-0">{{ restaurant.name }}</div>
            </div>
        </div>
    </div>
</section>
<!-- About the Restaurant -->
<!-- Page Details -->
<section class="page-details section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">Address of taste</div>
                <div class="section-title">{{ restaurant.name }}</div>
            </div>
        </div>
        <div class="row mb-30">
            <div class="col-md-12">
                <p>{{ restaurant.description }}</p>
                <p>{{ restaurant.short_description }} </p>
            </div>
        </div>
        <div class="row mb-30">
            <div class="col-md-12">
                <h5>Hours</h5>
                <ul class="list-unstyled page-list">
                    <li>
                        {% if restaurant.breakfast_hours %}
                        <div class="page-list-icon"> <span class="ti-time"></span> </div>
                        <div class="page-list-text">
                            <p>{{ restaurant.breakfast_hours }}</p>
                        </div>
                        {% endif %}
                    </li>
                    <li>
                        {% if restaurant.lunch_hours %}
                        <div class="page-list-icon"> <span class="ti-time"></span> </div>
                        <div class="page-list-text">
                            <p>{{ restaurant.lunch_hours }}</p>
                        </div>
                        {% endif %}
                    </li>
                    <li>
                        {% if restaurant.dinner_hours %}
                        <div class="page-list-icon"> <span class="ti-time"></span> </div>
                        <div class="page-list-text">
                            <p>{{ restaurant.dinner_hours }}</p>
                        </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mb-30">
            {% if restaurant.dress_code %}
            <div class="col-md-12">
                <h5>Dress Code</h5>
                <ul class="list-unstyled page-list">
                    <li class="d-flex align-items-center">
                        <div class="page-list-icon">
                            <span class="fa-thin fa-shirt"></span>
                        </div>
                        <div class="page-list-text ms-3">
                            <p>{{ restaurant.dress_code }}</p>
                        </div>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="row mb-30">
            <div class="col-md-12">
                <h5>Terrace</h5>
                <ul class="list-unstyled page-list">
                    <li class="d-flex align-items-center">
                        <div class="page-list-icon">
                            {% if restaurant.terrace %}
                                <i class="fa-thin fa-check"></i>
                            {% else %}
                                <i class="fa-thin fa-xmark"></i>
                            {% endif %}
                        </div>
                        <div class="page-list-text ms-3">
                            <p>
                                {% if restaurant.terrace %}
                                    Available
                                {% else %}
                                    No terrace available.
                                {% endif %}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Restaurant Menu -->
{% if restaurant.menu_categories.exists %}
<section id="menu" class="restaurant-menu menu section-padding bg-darkgray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-subtitle"><span>{{ hotel.name }}</span></div>
                <div class="section-title text-white">{{ restaurant.name }} Menu</div>
            </div>
        </div>
        <div class="row">
            <div class="tabs-icon col-md-10 offset-md-1 text-center">
                <div class="owl-carousel owl-theme">
                    {% for category in restaurant.menu_categories.all %}
                    <div id="tab-{{ category.id }}" class="item">
                        <h6>{{ category.name }}</h6>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="restaurant-menu-content col-md-12">
                {% for category in restaurant.menu_categories.all %}
                <div id="tab-{{ category.id }}-content" class="cont {% if forloop.first %}active{% endif %}">
                    <div class="row">
                        {% for item in category.menu_items.all %}
                        <div class="col-md-5 {% if forloop.counter|divisibleby:2 %}offset-md-2{% endif %}">
                            <div class="menu-info">
                                <h5>{{ item.name }} <span class="price">{{ item.price }}$</span></h5>
                                <p>{{ item.description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- Gallery -->
{% if restaurant.gallery_images.exists %}
<section class="galleryscroll section-padding">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">Image Gallery</div>
                <div class="section-title">{{ restaurant.name }} Gallery</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    {% for image in restaurant.gallery_images.all %}
                    <div class="item">
                        <a href="{{ image.image.url }}" title="{{ image.caption }}" class="gallery-masonry-item-img-link img-zoom">
                            <div class="img">
                                <img src="{{ image.image.url }}" class="img-fluid mx-auto d-block" alt="{{ image.caption }}">
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- Video Section -->
{% if restaurant.video_url %}
<section class="video-wrapper section-padding bg-img" data-overlay-dark="4" data-background="{% if restaurant.video_background %}{{ restaurant.video_background.url }}{% else %}{% static 'img/banner/01.jpg' %}{% endif %}">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 text-center rotatex">
                <a href="{{ restaurant.video_url }}" data-lity="video" class="rotate-box vid">
                    <div class="rotate-circle rotate-text">
                        <svg class="textcircle" viewBox="0 0 500 500">
                            <defs>
                                <path id="textcircle" d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z"></path>
                            </defs>
                            <text>
                                <textPath xlink:href="#textcircle" textLength="900">{{ hotel.name }}</textPath>
                            </text>
                        </svg>
                    </div> 
                    <span class="icon"> <i class="fas fa-play"></i> </span>
                </a>
            </div>
        </div>
    </div>
    <div class="video-text">{{hotel.name}}</div>
</section>
{% endif %}
{% endblock %}