{% extends "base.html" %}
{% block title %}{{ hotel.name }} | Restaurants {% endblock %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper">
            <a class="logo" href="{% url 'home-page' %}"> <img src={% static "img/logo.png" %} class="logo-img" alt=""> </a>
            <!-- <div class="logo"><h2>Rixos</h2></div> -->
        </div>
        <!-- Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="fa-light fa-bars"></i></span> </button>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home-page' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'hotel-rooms' hotel_slug=hotel.slug %}">Rooms</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'restaurant-list' hotel_slug=hotel.slug %}">Dining</a></li>

                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Services <i class="fa-light fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'hotel-facilities-page' hotel_slug=hotel.slug %}" class="dropdown-item"><span>Facilities</span></a></li>
                        <li><a href="amenities.html" class="dropdown-item"><span>Amenities</span></a></li>
                        <li><a href="spa.html" class="dropdown-item"><span>Spa & Wellness</span></a></li>
                        <li><a href="offers.html" class="dropdown-item"><span>Special Offers</span></a></li>
                    </ul>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="">Events</a></li>
                <li class="nav-item"><a class="nav-link" href="">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">About<i class="fa-light fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog1.html" class="dropdown-item"><span>Blog</span></a></li>
                        <li><a href="team.html" class="dropdown-item"><span>Team</span></a></li>
                        <li><a href="faq.html" class="dropdown-item"><span>FAQs</span></a></li>
                        <li><a href="about.html" class="dropdown-item"><span>About Us</span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-right">
                <div class="phonex"><a href="tel:+12345678910"><i class="fa-solid fa-phone"></i> +1 234 567 8910</a></div>
            </div>
        </div>
    </div>
</nav>
{% endblock navbar %}
{% block content %}
<!-- Header Banner -->
<section class="banner-header full-height valign bg-img" data-overlay-dark="4" data-background="{% static 'img/banner/11.jpg' %}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="subtitle">Address of Taste</div>
                <div class="title mb-0">Our Restaurants</div>
            </div>
        </div>
    </div>
</section>

<!-- Restaurants Section -->
<section class="rooms2 section-padding">
    <div class="container">
        {% for restaurant in restaurants %}
        <div class="row g-0 justify-content-center align-items-center bg-lightbrown br-0550 mb-90">
            {% if forloop.counter|divisibleby:2 %}
            <!-- Even: text left, image right -->
            <div class="col-lg-5 col-md-12">
                <div class="item">
                    <h3 class="title">{{ restaurant.name }}</h3>
                    <p>{{ restaurant.short_description|default:restaurant.description|truncatewords:30 }}</p>
                    <div class="row room-features">
                        <div class="col-lg-6 col-md-12">
                            <ul>
                                {% if restaurant.cuisine %}
                                <li><i class="fa-thin fa-utensils"></i> {{ restaurant.cuisine }}</li>
                                {% endif %}
                                {% if restaurant.dress_code %}
                                <li><i class="fa-thin fa-shirt"></i> {{ restaurant.dress_code }}</li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <ul>
                                {% if restaurant.opening_hours %}
                                <li><i class="fa-thin fa-clock"></i> {{ restaurant.opening_hours }}</li>
                                {% endif %}
                                {% if restaurant.phone %}
                                <li><i class="fa-thin fa-phone"></i> {{ restaurant.phone }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="line-dec"></div>
                    <div class="book">
                        <div>
                            {% if restaurant.menu_file %}
                            <a href="{{ restaurant.menu_file.url }}" class="button-3" target="_blank">View Menu</a>
                            {% endif %}
                        </div>
                        <div>
                            <a href="{% url 'restaurant-detail' hotel.slug restaurant.slug %}" class="button-3">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="owl-carousel owl-theme">
                    {% if restaurant.gallery_images.exists %}
                        {% for image in restaurant.gallery_images.all %}
                        <div class="img">
                            <img src="{{ image.image.url }}" class="img-fluid br-5005" alt="{{ image.caption }}">
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="img">
                            <img src="{{ restaurant.image.url }}" class="img-fluid br-5005" alt="{{ restaurant.name }}">
                        </div>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <!-- Odd: image left, text right -->
            <div class="col-lg-7 col-md-12">
                <div class="owl-carousel owl-theme">
                    {% if restaurant.gallery_images.exists %}
                        {% for image in restaurant.gallery_images.all %}
                        <div class="img">
                            <img src="{{ image.image.url }}" class="img-fluid br-5005" alt="{{ image.caption }}">
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="img">
                            <img src="{{ restaurant.image.url }}" class="img-fluid br-5005" alt="{{ restaurant.name }}">
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="item">
                    <h3 class="title">{{ restaurant.name }}</h3>
                    <p>{{ restaurant.short_description|default:restaurant.description|truncatewords:30 }}</p>
                    <div class="row room-features">
                        <div class="col-lg-6 col-md-12">
                            <ul>
                                {% if restaurant.cuisine %}
                                <li><i class="fa-thin fa-utensils"></i> {{ restaurant.cuisine }}</li>
                                {% endif %}
                                {% if restaurant.dress_code %}
                                <li><i class="fa-thin fa-shirt"></i> {{ restaurant.dress_code }}</li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <ul>
                                {% if restaurant.opening_hours %}
                                <li><i class="fa-thin fa-clock"></i> {{ restaurant.opening_hours }}</li>
                                {% endif %}
                                {% if restaurant.phone %}
                                <li><i class="fa-thin fa-phone"></i> {{ restaurant.phone }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="line-dec"></div>
                    <div class="book">
                        <div>
                            {% if restaurant.menu_file %}
                            <a href="{{ restaurant.menu_file.url }}" class="button-3" target="_blank">View Menu</a>
                            {% endif %}
                        </div>
                        <div>
                            <a href="{% url 'restaurant-detail' hotel.slug restaurant.slug %}" class="button-3">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% empty %}
        <p class="text-center">No restaurants available at the moment.</p>
        {% endfor %}
    </div>
</section>
 <!-- Video -->
 <section class="video-wrapper section-padding bg-img" data-overlay-dark="4" data-background={% static "img/banner/01.jpg"%}>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 text-center rotatex">
                <a href="{{ restaurant.video_url }}" data-lity="video" class="rotate-box vid">
                    <div class="rotate-circle rotate-text">
                        <svg class="textcircle" viewBox="0 0 500 500">
                            <defs>
                                <path id="textcircle" d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z"> </path>
                            </defs>
                            <text>
                                <textPath xlink:href="#textcircle" textLength="900"> {{hotel.name}} </textPath>
                            </text>
                        </svg>
                    </div> <span class="icon"> <i class="fas fa-play"></i> </span>
                </a>
            </div>
        </div>
    </div>
    <!-- video text -->
    <div class="video-text">{{hotel.name}}</div>
</section>
{% endblock %}
    <!-- Footer -->
    <footer class="footer">
        <!-- top -->
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <div class="logo"><img src="img/logo.png" alt=""></div>
                            <p>Lorem ipsum is simply dummy text of the printe and type setting industry in the fermen.</p>
                            <div class="social-icons">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1 mb-30">
                        <div class="item">
                            <h3>Contact us</h3>
                            <p>0665 Broadway st.
                                <br>10234 NY, USA
                            </p>
                            <div class="phone"><a href="tel:+410315520900">+1 123 567 8910</a></div>
                            <div class="mail"><a href="mailto:hi@rixoshotel.com">hi@rixoshotel.com</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <h3>Subscribe</h3>
                            <p>Want to be notified about our services. Just sign up and we'll send you a notification by email.</p>
                            <div class="newsletter">
                                <form action="#">
                                    <input type="email" placeholder="Email Address" required>
                                    <button type="submit"><i class="fa-light fa-arrow-right"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="links">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="blog1.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 text-end">
                        <p>Copyright 2025 by <a href="#">DuruThemes</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery-migrate-3.4.1.min.js"></script>
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.isotope.v3.0.2.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollIt.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/YouTubePopUp.js"></script>
    <script src="js/select2.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>