<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{% block title %}My Hotel Site{% endblock %}</title>
    <link rel="shortcut icon" href={% static "img/favicon.png"%} />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=Urbanist:wght@300;400;500;600&display=swap">
    <link rel="stylesheet" href={% static "css/plugins.css" %} />
    <link rel="stylesheet" href={% static "css/style.css" %} />
    {% block extra_css %}{% endblock %}
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
</head>
<body>
    <!-- Preloader -->
    {% comment %} <div class="preloader">
        <div class="centered">
            <div class="cont">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div> <img src={% static "img/preloader.png"%} alt="">
            </div>
        </div>
    </div> {% endcomment %}
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div> 
   <!-- Navbar -->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <div class="logo-wrapper">
                <a class="logo" href="{% url 'home-page' %}"> <img src={% static "img/logo.png" %} class="logo-img" alt=""> </a>
                <!-- <div class="logo"><h2>Rixos</h2></div> -->
            </div>
            <!-- Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="fa-light fa-bars"></i></span> </button>
            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'hotel-detail' hotel.slug %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'hotel-rooms' hotel_slug=hotel.slug %}">Rooms & Suites</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'restaurant-list' hotel_slug=hotel.slug %}">Dining</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'hotel-facilities-page' hotel_slug=hotel.slug %}">Services</a></li>
                    {% comment %} <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Services <i class="fa-light fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'hotel-facilities-page' hotel_slug=hotel.slug %}" class="dropdown-item"><span>Facilities</span></a></li>
                            <li><a href="{% url 'hotel-amenities-page' hotel_slug=hotel.slug %}" class="dropdown-item"><span>Amenities</span></a></li>
                            <li><a href="{% url 'offer-page' hotel_slug=hotel.slug %}" class="dropdown-item"><span>Special Offers</span></a></li>
                        </ul>
                    </li> {% endcomment %}
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Events <i class="fa-light fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            {% comment %} <li><a href="{% url 'hotel-event-page' hotel_slug=hotel.slug %}" class="dropdown-item"><span>Events</span></a></li> {% endcomment %}
                            <li><a href="{% url 'meeting-room-page' hotel_slug=hotel.slug %}" class="dropdown-item"><span>Meeting Rooms</span></a></li>
                            <li><a href="{% url 'wedding-meeting-rooms' hotel_slug=hotel.slug %}" class="dropdown-item"><span>Wedding Venues</span></a></li>   
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'offer-page' hotel_slug=hotel.slug %}">Offers</a></li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Gallery <i class="fa-light fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'image-gallery-page' hotel_slug=hotel.slug %}" class="dropdown-item"><span>Image Gallery</span></a></li>
                            <li><a href="{% url 'video-gallery-page' hotel_slug=hotel.slug %}" class="dropdown-item"><span>Video Gallery</span></a></li>  
                        </ul>
                    </li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">About<i class="fa-light fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'about-page' hotel_slug=hotel.slug %}" class="dropdown-item"><span>About Us</span></a></li>
                            <li><a href="{% url 'contact-page' hotel_slug=hotel.slug %}" class="dropdown-item"><span>Contact Us</span></a></li>
                            <li><a href="{% url 'faqs-page' hotel_slug=hotel.slug %}" class="dropdown-item"><span>FAQs</span></a></li>
                            <li><a href="{% url 'team-list-page' hotel_slug=hotel.slug%}" class="dropdown-item"><span>Our Team</span></a></li>
                            <li><a href="{% url 'careers-page' hotel_slug=hotel.slug%}" class="dropdown-item"><span>Careers</span></a></li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-right">
                    {% comment %} <form action="{% url 'set_language' %}" method="post" style="margin-left: 1rem;">
                        {% csrf_token %}
                        <select name="language" onchange="this.form.submit()">
                            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                            <option value="ar" {% if LANGUAGE_CODE == 'ar' %}selected{% endif %}>العربية</option>
                        </select>
                    </form> {% endcomment %}
                    <div class="phonex"><a href="tel:{{hotel.phone}}"><i class="fa-solid fa-phone"></i> {{hotel.phone}}</a></div>
                </div>
            </div>
        </div>
    </nav>
    {% endblock navbar %}
    {% block content %} {% endblock content %}
    <footer class="footer">
        {% block footer_content %}
        <!-- top -->
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 mb-30">
                      <div class="item">
                        <div class="logo"><img src="{% static 'img/logo.png' %}" alt=""></div>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <div class="social-icons">
                          <ul class="list-inline">
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-md-3 mb-30">
                      <div class="item">
                        <h3>Contact us</h3>
                        <p>Block 19 In front of، Katameya Heights<br>Egypt,Cairo 11861</p>
                        <div class="phone"><a href="tel:+410315520900">+1 123 567 8910</a></div>
                        <div class="mail"><a href="mailto:hi@rixoshotel.com">info@triumphhotel.com</a></div>
                      </div>
                    </div>
                  
                    <div class="col-md-3 mb-30">
                      <div class="item">
                        <h3>Subscribe</h3>
                        <p>Want to stay informed? Subscribe to our newsletter.</p>
                        <div class="newsletter">
                          <form action="#">
                            <input type="email" placeholder="Email Address" required>
                            <button type="submit"><i class="fa-light fa-arrow-right"></i></button>
                          </form>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-md-3 mb-30">
                        <div class="item text-center">
                          <h3>Our App</h3>
                      
                          <div class="d-flex align-items-center justify-content-center">
                            <!-- Left: Mobile Image -->
                            <div class="me-3">
                              <img src="{% static 'img/mobile-app.png' %}" alt="Our App" style="max-width: 80px;">
                            </div>
                      
                            <!-- Right: Store Buttons stacked vertically -->
                            <div class="d-flex flex-column gap-2">
                                <a href="https://apps.apple.com" target="_blank">
                                    <img src="{% static 'img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg' %}" 
                                         alt="App Store" 
                                         style="width: 170px; height: auto;">
                                  </a>
                              <a href="https://play.google.com/store" target="_blank">
                                <img src="{% static 'img/GetItOnGooglePlay_Badge_Web_color_English.png' %}" alt="Play Store" style="height: 50px;">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>
        </div>
        <!-- bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="links">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="blog1.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 text-end">
                        <p>Copyright 2025 by <a href="https://www.triumphhotel.com">Triumph Hotels Egypt</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>    
    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.v3.0.2.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/YouTubePopUp.js' %}"></script>

    <script>
        function initTestimonialsCarousel() {
            var $carousel = $('.testimonials .owl-carousel');
            console.log('Found testimonials carousel elements:', $carousel.length);
            if ($carousel.length > 0) {
                $carousel.owlCarousel({
                    items: 1,
                    loop: true,
                    autoplay: true,
                    autoplayTimeout: 5000, // 5 seconds
                    autoplayHoverPause: true,
                    nav: false,
                    dots: true,
                    smartSpeed: 800
                });
                $carousel.trigger('play.owl.autoplay',[5000]);
                console.log('Testimonials carousel initialized and autoplay triggered');
            } else {
                console.log('Testimonials carousel not found, retrying in 500ms');
                setTimeout(initTestimonialsCarousel, 500);
            }
        }

        $(document).ready(function() {
            setTimeout(initTestimonialsCarousel, 500);
        });

        function initRoomsCarousel() {
            var $carousel = $('#rooms-carousel');
            console.log('Found rooms carousel elements:', $carousel.length);
            if ($carousel.length > 0) {
                $carousel.owlCarousel({
                    loop: true,
                    margin: 30,
                    nav: true,
                    dots: true,
                    autoplay: true,
                    autoplayTimeout: 4000,
                    autoplayHoverPause: true,
                    responsive: {
                        0: { items: 1 },
                        600: { items: 2 },
                        1000: { items: 3 }
                    }
                });
                $carousel.trigger('play.owl.autoplay', [4000]);
                console.log('Rooms carousel initialized and autoplay triggered');
            } else {
                console.log('Rooms carousel not found, retrying in 500ms');
                setTimeout(initRoomsCarousel, 500);
            }
        }

        $(document).ready(function() {
            setTimeout(initRoomsCarousel, 500);
        });
    </script>
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/vegas.slider.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block script %}
    
    {% endblock %}
</body>
</html>