{% extends "base.html" %}
{% load static %}

{% block title %}Rooms | {{ hotel.name }} {% endblock %}

{% block content %} 
<!-- Header Banner -->
{% if banner and banner.type == 'image' %}
<section class="banner-header bg-img bg-fixed" data-overlay-dark="5"
         data-background="{{ banner.object.image.url }}"
         style="padding: 150px 0; min-height: 750px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="subtitle">{{ hotel.name }}</div>
                <div class="title">Rooms <span>&</span>Suites</div>
            </div>
        </div>
    </div>
</section>
{% endif %}
 <!-- Rooms 2 -->
 <section class="rooms2 section-padding">
    <div class="container">
        {% for room in rooms %}
        <div class="row g-0 justify-content-center align-items-center {% cycle 'bg-lightbrown br-0550 mb-90' 'bg-lightbrown br-5005 mb-90' %}">
            {% if forloop.counter|divisibleby:"2" %}
                {# Even items: Text Left, Image Right #}
                <div class="col-lg-5 col-md-12">
                    <a href="{{ room.get_absolute_url }}" class="room-card" style="text-decoration: none; color: inherit; display: block;">
                        <div class="item">
                            <h3 class="title">{{ room.name }}</h3>
                            <p>{{ room.description|truncatewords:30 }}</p>

                            <div class="row room-features">
                                <div class="col-lg-6 col-md-12">
                                    <ul>
                                        <li><i class="fa-thin fa-user"></i> {{ room.number_of_persons }} Persons</li>
                                        <li><i class="fa-thin fa-expand"></i> {{ room.area }} sqft room</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <ul>
                                        <li><i class="fa-thin fa-bed-front"></i> {{ room.get_bed_type_display }}</li>
                                        <li><i class="fa-thin fa-eye"></i> {{room.get_room_views_display }} </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="line-dec"></div>

                            <div class="book d-flex justify-content-between align-items-center">
                                {% if room.price_per_night%}
                                <div>
                                    <div class="price">${{ room.price_per_night }} <span>/ night</span></div>
                                </div>
                                {% else %}
                                <div>
                                    <div > </div>
                                </div>
                                {% endif %}
                                <div>
                                    <a href="" class="button-3" onclick="event.stopPropagation();">Book now</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-7 col-md-12">
                    <div class="owl-carousel owl-theme">
                        {% for image in room.room_images.all %}
                            <div class="img">
                                <img src="{{ image.image.url }}" class="img-fluid br-0550" alt="{{ image.caption|default:room.name }}">
                            </div>
                        {% empty %}
                            <div class="img">
                                <img src="{% static 'img/default_room.jpg' %}" class="img-fluid br-0550" alt="Room">
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% else %}
                {# Odd items: Image Left, Text Right #}
                <div class="col-lg-7 col-md-12">
                    <div class="owl-carousel owl-theme">
                        {% for image in room.room_images.all %}
                            <div class="img">
                                <img src="{{ image.image.url }}" class="img-fluid br-0550" alt="{{ image.caption|default:room.name }}">
                            </div>
                        {% empty %}
                            <div class="img">
                                <img src="{% static 'img/default_room.jpg' %}" class="img-fluid br-0550" alt="Room">
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-5 col-md-12">
                    <a href="{{ room.get_absolute_url }}" class="room-card" style="text-decoration: none; color: inherit; display: block;">
                        <div class="item">
                            <h3 class="title">{{ room.name }}</h3>
                            <p>{{ room.description|truncatewords:30 }}</p>

                            <div class="row room-features">
                                <div class="col-lg-6 col-md-12">
                                    <ul>
                                        <li><i class="fa-thin fa-user"></i> {{ room.number_of_persons }} Persons</li>
                                        <li><i class="fa-thin fa-expand"></i> {{ room.area }} sqft room</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <ul>
                                        <li><i class="fa-thin fa-bed-front"></i> {{ room.get_bed_type_display }}</li>
                                        <li><i class="fa-thin fa-eye"></i> {{room.get_room_views_display }} </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="line-dec"></div>

                            <div class="book d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="price">${{ room.price_per_night }} <span>/ night</span></div>
                                </div>
                                <div>
                                    <a href="" class="button-3" onclick="event.stopPropagation();">Book now</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
<!-- Video -->
<section class="video-wrapper section-padding bg-img" data-overlay-dark="4" data-background="img/banner/01.jpg">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 text-center rotatex">
                <a href="https://youtu.be/hG7Ok0HvDcU" data-lity="video" class="rotate-box vid">
                    <div class="rotate-circle rotate-text">
                        <svg class="textcircle" viewBox="0 0 500 500">
                            <defs>
                                <path id="textcircle" d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z"> </path>
                            </defs>
                            <text>
                                <textPath xlink:href="#textcircle" textLength="900"> rixos luxury resort hotel </textPath>
                            </text>
                        </svg>
                    </div> <span class="icon"> <i class="fas fa-play"></i> </span>
                </a>
            </div>
        </div>
    </div>
    <!-- video text -->
    <div class="video-text">videos</div>
</section>
<!-- Offers 1 -->
<section class="offers1 section-padding bg-darkgray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">Comfort & Relax</div>
                <div class="section-title">Exclusive Offers</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="img"> <img src="{% static 'img/offers/01.jpg' %}" alt=""> </div>
                    <div class="con">
                        <div class="title">Stay</div>
                        <div class="arrow"> <a href="#"><span class="fa-light fa-arrow-right"></span></a> </div>
                    </div>
                    <div class="price">30% off</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="img"> <img src="{% static 'img/offers/02.jpg' %}" alt=""> </div>
                    <div class="con">
                        <div class="title">Dine</div>
                        <div class="arrow"> <a href="#"><span class="fa-light fa-arrow-right"></span></a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="img"> <img src="{% static 'img/offers/03.jpg' %}" alt=""> </div>
                    <div class="con">
                        <div class="title">Relax</div>
                        <div class="arrow"> <a href="#"><span class="fa-light fa-arrow-right"></span></a> </div>
                    </div>
                    <div class="price">20% off</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="img"> <img src="{% static 'img/offers/04.jpg' %}" alt=""> </div>
                    <div class="con">
                        <div class="title">Weddings</div>
                        <div class="arrow"> <a href="#"><span class="fa-light fa-arrow-right"></span></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQs -->
<section class="faqs section-padding">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <!-- Left side -->
            <div class="col-lg-5 col-md-12 mb-30">
                <div class="section-subtitle">Popular Questions</div>
                <div class="section-title">Frequently Asked Questions</div>
                <p class="mb-25">Find answers to common questions about {{ room.hotel.name }}.</p>

                <!-- Button to all questions page -->
                <a href="" class="button-3">All Questions</a>
            </div>

            <!-- Right side: Dynamic FAQs -->
            <div class="col-lg-6 offset-lg-1 col-md-12">
                <ul class="accordion-box clearfix">
                    {% for faq in faqs %}
                        <li class="accordion block">
                            <div class="acc-btn">{{ faq.question }}</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>{{ faq.answer }}</p>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="accordion block">
                            <div class="acc-btn">No FAQs yet</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>Please contact us if you have any questions.</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</section>
<!-- Booking Search -->
<section class="section-padding bg-img bg-fixed" data-overlay-dark="5" data-background={% static "img/rooms/01.jpg"%}>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">Hotel Experience</div>
                <div class="section-title white">Booking Form</div>
            </div>
        </div>
        <div class="booking-inner clearfix">
            <form action="#" class="form1 clearfix">
                <div class="col1 c1">
                    <div class="input1_wrapper border-l border-b border-t border-r">
                        <label>Check in</label>
                        <div class="input1_inner">
                            <input type="text" class="form-control input datepicker" placeholder="Check in">
                        </div>
                    </div>
                </div>
                <div class="col1 c2">
                    <div class="input1_wrapper border-l border-b border-t border-r">
                        <label>Check out</label>
                        <div class="input1_inner">
                            <input type="text" class="form-control input datepicker" placeholder="Check out">
                        </div>
                    </div>
                </div>
                <div class="col2 c3">
                    <div class="select1_wrapper border-l border-b border-t border-r">
                        <label>Adults</label>
                        <div class="select1_inner">
                            <select class="select2 select" style="width: 100%">
                                <option value="1">1 Adult</option>
                                <option value="2">2 Adults</option>
                                <option value="3">3 Adults</option>
                                <option value="4">4 Adults</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col2 c4">
                    <div class="select1_wrapper border-l border-b border-t border-r">
                        <label>Children</label>
                        <div class="select1_inner">
                            <select class="select2 select" style="width: 100%">
                                <option value="1">Children</option>
                                <option value="1">1 Child</option>
                                <option value="2">2 Children</option>
                                <option value="3">3 Children</option>
                                <option value="4">4 Children</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col2 c5">
                    <div class="select1_wrapper border-l border-b border-t border-r">
                        <label>Rooms</label>
                        <div class="select1_inner">
                            <select class="select2 select" style="width: 100%">
                                <option value="1">1 Room</option>
                                <option value="2">2 Rooms</option>
                                <option value="3">3 Rooms</option>
                                <option value="4">4 Rooms</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col3 c6">
                    <button type="submit" class="btn-form1-submit">Check Now</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block footer_content %}
<footer class="footer">
    <!-- top -->
    <div class="top">
        <div class="container">
            <div class="row">

                <!-- Hotel Info -->
                <div class="col-md-3 mb-30">
                    <div class="item">
                        <div class="logo">
                            {% if hotel.logo %}
                                <img src="{{ hotel.logo.url }}" alt="{{ hotel.name }}">
                            {% else %}
                                <img src="{% static 'img/logo.png' %}" alt="{{ hotel.name }}">
                            {% endif %}
                        </div>
                        <p>{{ hotel.slogan|default:"Your unforgettable stay starts here." }}</p>
                        <div class="social-icons">
                            <ul class="list-inline">
                                {% for link in hotel.social_links.all|slice:":4" %}
                                    <li>
                                        <a href="{{ link.url }}" target="_blank">
                                            <i class="fa-brands fa-{{ link.icon }}"></i>
                                        </a>
                                    </li>
                                {% empty %}
                                    <li><small>No social links</small></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Contact Info -->
                <div class="col-md-3 mb-30">
                    <div class="item">
                        <h3>Contact us</h3>
                        <p>{{ hotel.address|default:"Block 19 In front of، Katameya Heights, Cairo 11861" }}</p>
                        <div class="phone"><a href="tel:{{ hotel.phone|default:'+1235678910' }}">{{ hotel.phone|default:'+1 123 567 8910' }}</a></div>
                        <div class="mail"><a href="mailto:{{ hotel.email|default:'info@triumphhotel.com' }}">{{ hotel.email|default:'info@triumphhotel.com' }}</a></div>
                    </div>
                </div>

                <!-- Newsletter -->
                <div class="col-md-3 mb-30">
                    <div class="item">
                        <h3>Subscribe</h3>
                        <p>Want to stay informed? Subscribe to our newsletter.</p>
                        <div class="newsletter">
                            <form action="{% url 'subscribe-newsletter' %}" method="post">
                                {% csrf_token %}
                                <input type="email" name="email" placeholder="Email Address" required>
                                <button type="submit"><i class="fa-light fa-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- App Store Buttons -->
                <div class="col-md-3 mb-30">
                    <div class="item text-center">
                        <h3>Our App</h3>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="me-3">
                                <img src="{% static 'img/mobile-app.png' %}" alt="Our App" style="max-width: 80px;">
                            </div>
                            <div class="d-flex flex-column gap-2">
                                <a href="https://apps.apple.com" target="_blank">
                                    <img src="{% static 'img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg' %}" alt="App Store" style="width: 170px; height: auto;">
                                </a>
                                <a href="https://play.google.com/store" target="_blank">
                                    <img src="{% static 'img/GetItOnGooglePlay_Badge_Web_color_English.png' %}" alt="Play Store" style="height: 50px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- bottom -->
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="links">
                        <ul>
                            <li><a href="{% url 'hotel-detail' hotel.slug %}">Home</a></li>
                            <li><a href="{% url 'about-page' hotel_slug=hotel.slug %}">About</a></li>
                            <li><a href="{% url 'hotel-facilities-page' hotel_slug=hotel.slug %}">Services</a></li>
                            <li><a href="{% url 'contact-page' hotel_slug=hotel.slug %}">Contact</a></li>
                            <li><a href="{% url 'faqs-page' hotel_slug=hotel.slug %}">FAQs</a></li>
                            <li><a href="{% url 'careers-page' hotel_slug=hotel.slug %}">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 text-end">
                    <p>© 2025 <a href="https://www.triumphhotel.com">Triumph Hotels Egypt</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}