{% extends "base.html" %}
{% block title %}{{ hotel.name }} | Triumph Hotels{% endblock %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper">
            <a class="logo" href="{% url 'home-page' %}"> <img src={% static "img/logo.png" %} class="logo-img" alt=""> </a>
            <!-- <div class="logo"><h2>Rixos</h2></div> -->
        </div>
        <!-- Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="fa-light fa-bars"></i></span> </button>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home-page' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'hotel-rooms' slug=hotel.slug %}">Rooms</a></li>
                <li class="nav-item"><a class="nav-link" href="">Dining</a></li>

                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Services <i class="fa-light fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="facilities.html" class="dropdown-item"><span>Facilities</span></a></li>
                        <li><a href="amenities.html" class="dropdown-item"><span>Amenities</span></a></li>
                        <li><a href="spa.html" class="dropdown-item"><span>Spa & Wellness</span></a></li>
                        <li><a href="offers.html" class="dropdown-item"><span>Special Offers</span></a></li>
                    </ul>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="">Events</a></li>
                <li class="nav-item"><a class="nav-link" href="">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">About<i class="fa-light fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog1.html" class="dropdown-item"><span>Blog</span></a></li>
                        <li><a href="team.html" class="dropdown-item"><span>Team</span></a></li>
                        <li><a href="faq.html" class="dropdown-item"><span>FAQs</span></a></li>
                        <li><a href="about.html" class="dropdown-item"><span>About Us</span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-right">
                <div class="phonex"><a href="tel:+12345678910"><i class="fa-solid fa-phone"></i> +1 234 567 8910</a></div>
            </div>
        </div>
    </div>
</nav>
{% endblock navbar %}
{% block content %}
    <!-- Kenburns SlideShow -->
    <aside class="kenburns-section" id="kenburnsSliderContainer" data-overlay-dark="5">
        <div class="kenburns-inner h-100">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-12 text-center">
                            <h5>{{ hotel.name }}</h5>
                            <h1>{{ hotel.slogan }}</h1>
                            <a href="{% url 'hotel-rooms' slug=hotel.slug %}" class="button-2">Rooms & Suites</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- Booking Search -->
    <div class="booking-wrapper">
        <div class="container">
            <div class="booking-inner clearfix">
                <form action="#" class="form1 clearfix">
                    <div class="col1 c1">
                        <div class="input1_wrapper border-l border-b border-t border-r br-5005">
                            <label>Check in</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input datepicker" placeholder="Check in">
                            </div>
                        </div>
                    </div>
                    <div class="col1 c2">
                        <div class="input1_wrapper border-l border-b border-t border-r">
                            <label>Check out</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input datepicker" placeholder="Check out">
                            </div>
                        </div>
                    </div>
                    <div class="col2 c3">
                        <div class="select1_wrapper border-l border-b border-t border-r">
                            <label>Adults</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">1 Adult</option>
                                    <option value="2">2 Adults</option>
                                    <option value="3">3 Adults</option>
                                    <option value="4">4 Adults</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c4">
                        <div class="select1_wrapper border-l border-b border-t  border-r">
                            <label>Children</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Children</option>
                                    <option value="1">1 Child</option>
                                    <option value="2">2 Children</option>
                                    <option value="3">3 Children</option>
                                    <option value="4">4 Children</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c5">
                        <div class="select1_wrapper border-l border-b border-t  border-r">
                            <label>Rooms</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">1 Room</option>
                                    <option value="2">2 Rooms</option>
                                    <option value="3">3 Rooms</option>
                                    <option value="4">4 Rooms</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col3 c6">
                        <button type="submit" class="btn-form1-submit">Check Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- About -->
    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 mb-15">
                    <div class="section-subtitle">About {{ hotel.name }}</div>
                    <div class="section-title">{{ hotel.title }}</div>
                    <p>Welcome to the <b>best {{ hotel.star_rating }}-star hotel</b> in {{ hotel.city }}. {{hotel.description}}</p>
                    <a href="#" class="button-3 mb-15">About{{ hotel.name }}</a>
                    <div class="phone"><a href="tel:+{{ hotel.phone }}"><i class="fa-light fa-phone"></i>{{ hotel.phone }}</a></div>
                </div>
                {% with hotel.image_covers.all as covers %}
                {% if covers|length > 0 %}
                    <div class="col-lg-3 offset-lg-1 col-md-6 mb-20 mt-45">
                        <img class="rounded-2 animation-float1" src="{{ covers.0.image.url }}" alt="">
                    </div>
                {% endif %}
                    {% if covers|length > 1 %}
                        <div class="col-lg-3 col-md-6 mb-20">
                            <img class="rounded-2 animation-float2" src="{{ covers.1.image.url }}" alt="">
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </section>
    <!-- Rooms 3 -->
    <section class="rooms3 section-padding bg-darkgray">
        <div class="row">
            <div class="col-md-12 mb-25 text-center">
                <div class="section-subtitle">{{hotel.name}}</div>
                <div class="section-title white">Rooms <span>&</span> Suites</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    {% for room in rooms %}
                    <div class="item">
                        <div class="img">
                            <img src="{{ room.image_cover.url }}" class="img-fluid" alt="{{ room.name }}">
                        </div>
                            {% if room.room_discount > 0 %}
                            <span class="discount">
                                <i class="fa-light fa-badge-percent"></i> Get {{ room.room_discount }} % Off
                            </span>
                            {% endif %}
                        <div class="cont">
                            <div class="title">
                                <a href="{% url 'room-detail' room.slug %}">{{ room.name }}</a>
                            </div>
                            <div class="details">
                                {% if room.number_of_beds %}
                                <span><i class="fa-thin fa-bed-front"></i> {{ room.number_of_beds }} Bed</span>
                                {% endif %}
                                {% if room.number_of_bathrooms %}
                                <span><i class="fa-thin fa-bath"></i> {{ room.number_of_bathrooms }} Bathroom</span>
                                {% endif %}
                                {% if room.area %}
                                <span><i class="fa-thin fa-expand"></i> {{ room.area }} Sqm</span>
                                {% endif %}
                                {% if room.includes_breakfast %}
                                <span><i class="fa-thin fa-mug-saucer"></i> Breakfast</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Facilities -->
    <section class="facilities2">
        <div class="border-bottom">
            <div class="container">
                <ul class="tab-buttons">
                    {% for facility_type in tab_facility_types %}
                    <li data-tab="#{{ facility_type }}" class="tab-btn {% if forloop.first %}active-btn{% endif %}"><span>{{ facility_type|title }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="container">
                <div class="tabs-content">
                    {% for facility_type in tab_facility_types %}
                    <div class="tab {% if forloop.first %}active-tab{% endif %}" id="{{ facility_type }}">
                        {% for facility in tab_facilities %}
                            {% if facility.type == facility_type %}
                            <div class="row justify-content-center align-items-center">
                                <div class="col-lg-6 col-md-12">
                                    {% if facility.image %}
                                    <img src="{{ facility.image.url }}" class="img-fluid" alt="{{ facility.name }}">
                                    {% else %}
                                    <img src="{% static 'img/offers/default.jpg' %}" class="img-fluid" alt="{{ facility.name }}">
                                    {% endif %}
                                </div>
                                <div class="col-lg-5 offset-lg-1 col-md-12">
                                    <div class="section-subtitle">{{ facility.title }}</div>
                                    <div class="section-title">{{ facility.name }}</div>
                                    <p class="mb-25">{{ facility.description }}</p>
                                    <ul class="list-unstyled list mb-30">
                                        <li>
                                            <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                            <div class="list-text">
                                                <p>{{ facility.notes}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                    {% if facility.detail_file %}
                                    <a href="{{ facility.detail_file.url }}" target="_blank" class="button-3"><i class="fa-solid fa-info"></i> View details</a>
                                    {% comment %} {% else %}
                                    <a href="{% url 'facility-detail' facility.slug %}" class="button-3"><i class="fa-solid fa-info"></i> View details</a> {% endcomment %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
        </div>
    </section>
    <!-- Testimonials -->
    <section class="testimonials">
        <div class="bg-img bg-fixed section-padding" data-overlay-dark="5" data-background="{% static 'img/banner/02.jpg' %}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-7 text-center">
                        <div class="owl-carousel owl-theme">
                            {% for review in reviews %}
                                <div class="item d-flex flex-column align-items-center text-center">
                                    <!-- Profile Image -->
                                    <img src="{% if review.profile_picture %}{{ review.profile_picture.url }}{% else %}{% static 'img/profile/default.jpg' %}{% endif %}"
                                        alt="{{ review.name }}"
                                        class="rounded-circle mb-3"
                                        style="width: 60px; height: 60px; object-fit: cover; border: 2px solid #fff; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">
                                    <!-- Star Ratings -->
                                    <div>
                                        {% for i in "12345"|make_list %}
                                            {% if forloop.counter <= review.rating %}
                                                <i class="fa fa-star text-warning"></i>
                                            {% else %}
                                                <i class="fa fa-star text-muted"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <!-- Review Text -->
                                    <h5 class="mt-3">"{{ review.comment }}"</h5>
                                    <!-- Reviewer Name & Link -->
                                    <div class="info mt-2">
                                        <div class="cont">
                                            <h6>{{ review.name }}
                                                {% if review.view_link %}
                                                    <i>|</i>
                                                    <span><a href="{{ review.view_link }}" target="_blank" rel="noopener noreferrer">View on Tripadvisor</a></span>
                                                {% endif %}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No reviews available.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Amenities -->
    <section class="amenities section-padding">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 col-md-12 mb-30">
                    <div class="section-subtitle">Hotel Services</div>
                    <div class="section-title">Amenities</div>
                    <p class="mb-25">{{ hotel.description|truncatewords:25 }}</p>
                    <a href="#" class="button-3">All Amenities</a>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        {% for service in amenity_services|slice:":6" %}
                            <div class="col-lg-4 col-md-6">
                                <div class="item hover-box mb-25">
                                    <div class="cont up text-center">
                                        {% if service.icon %}
                                            <div class="icon mb-2">
                                                <i class="fa-thin fa-{{ service.icon }}"></i>
                                            </div>
                                        {% endif %}
                                        <div class="text">
                                            <h5>{{ service.title }}</h5>
                                            <p>{{ service.description|truncatewords:15 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="col-12 text-center">
                                <p class="text-muted">No services listed for this hotel.</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Video -->
    <section class="video-wrapper section-padding bg-img" data-overlay-dark="4" data-background={% static "img/banner/01.jpg"%}>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 text-center rotatex">
                    <a href="https://youtu.be/hG7Ok0HvDcU" data-lity="video" class="rotate-box vid">
                        <div class="rotate-circle rotate-text">
                            <svg class="textcircle" viewBox="0 0 500 500">
                                <defs>
                                    <path id="textcircle" d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z"> </path>
                                </defs>
                                <text>
                                    <textPath xlink:href="#textcircle" textLength="900"> {{hotel.name}} </textPath>
                                </text>
                            </svg>
                        </div> <span class="icon"> <i class="fas fa-play"></i> </span>
                    </a>
                </div>
            </div>
        </div>
        <!-- video text -->
        <div class="video-text">videos</div>
    </section>
    <!-- Pricing 1 -->
    <section class="pricing1 section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mb-20">
                    <div class="section-subtitle">Pricing Plan</div>
                    <div class="section-title">Extra Prices</div>
                </div>
            </div>
            <div class="row justify-content-center g-0">
                <div class="col-12 pricing">
                    {% for service in featured_services %}
                        <div class="item {% if forloop.first %}active{% endif %}">
                            <div class="img">
                                {% if service.image %}
                                    <img src="{{ service.image.url }}" class="img-fluid" alt="{{ service.title }}">
                                {% else %}
                                    <img src="{% static 'img/pricing/default.jpg' %}" class="img-fluid" alt="Default Service">
                                {% endif %}
                                <div class="title">{{ service.title }}</div>
                                <div class="overlay"></div>
                            </div>
                            <div class="flex-column cont">
                                <div class="cont-hover text-center">
                                    {% if service.icon %}
                                        <div class="icon mb-2">
                                            <i class="fa-thin fa-{{ service.icon }}"></i>
                                        </div>
                                    {% endif %}
                                    <p>{{ service.description|truncatewords:20 }}</p>
                                    {% if service.price %}
                                        <div class="price">
                                            {{ service.price }} {{ service.price_currency }}
                                            <span>/ {{ service.pricing_type }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p class="text-center text-muted">No featured services available for this hotel.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center mt-30">
                    <div class="section-info">
                        <div class="tag">Questions</div>
                        <div class="desc">
                            You can send your questions to the mail address:
                            <a href="mailto:{{hotel.email}}" class="text-decoration-line-bottom">{{hotel.email}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Offers 2 -->
    <section class="offers2">
        <div class="container">
            <div class="row gx-0">
                <div class="col-lg-3">
                    <a href="#" class="item" data-tab="tab-1">
                        <h5>Stay</h5>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="#" class="item" data-tab="tab-2">
                        <h5>Dine</h5>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="#" class="item" data-tab="tab-3">
                        <h5>Relax</h5>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="#" class="item" data-tab="tab-4">
                        <h5>Weddings</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="glry-img"> 
            <img id="tab-1" src={% static "img/rooms/01.jpg"%} alt="" class="tab-img current">
            <img id="tab-2" src={% static "img/banner/03.jpg"%} alt="" class="tab-img">
            <img id="tab-3" src={% static "img/banner/04.jpg"%} alt="" class="tab-img">
            <img id="tab-4" src={% static "img/banner/05.jpg"%} alt="" class="tab-img"> </div>
    </section>
    <!-- Blog -->
    <section class="blog1 section-padding">
        <div class="container">
            <div class="row mb-15">
                <div class="col-md-12 text-center">
                    <div class="section-subtitle">Latest News</div>
                    <div class="section-title">Hotel Articles</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    <div class="item mt-10">
                        <div class="img"> <img src={% static "img/blog/1.jpg"%} class="img-fluid" alt="">
                            <div class="cat">Health</div>
                        </div>
                        <div class="cont">
                            <h4><a href="post.html">Luxury hotel experience: heated pools</a></h4>
                            <p>Lorem ipsum quisque sodales missen the varius rana duru fermen.</p>
                            <div class="author">
                                <div>
                                    <h5>29 August 2025</h5>
                                    <h5>by <a href="#" class="text-decoration-line-bottom">Martin Dan</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item mt-10">
                        <div class="img"> <img src={% static "img/blog/2.jpg"%} class="img-fluid" alt="">
                            <div class="cat">Health</div>
                        </div>
                        <div class="cont">
                            <h4><a href="post.html">Hygiene rules in hotels for a safe holiday</a></h4>
                            <p>Lorem ipsum quisque sodales missen the varius rana duru fermen.</p>
                            <div class="author">
                                <div>
                                    <h5>27 August 2025</h5>
                                    <h5>by <a href="#" class="text-decoration-line-bottom">Emily Brown</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item mt-10">
                        <div class="img"> <img src={% static "img/blog/3.jpg"%} class="img-fluid" alt="">
                            <div class="cat">Wellness</div>
                        </div>
                        <div class="cont">
                            <h4><a href="post.html">What are the benefits of the Spa?</a></h4>
                            <p>Lorem ipsum quisque sodales missen the varius rana duru fermen.</p>
                            <div class="author">
                                <div>
                                    <h5>25 August 2025</h5>
                                    <h5>by <a href="#" class="text-decoration-line-bottom">Frank White</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Booking Search -->
    <section class="section-padding bg-img bg-fixed" data-overlay-dark="5" data-background={% static "img/rooms/01.jpg"%}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mb-20">
                    <div class="section-subtitle">Hotel Experience</div>
                    <div class="section-title white">Booking Form</div>
                </div>
            </div>
            <div class="booking-inner clearfix">
                <form action="#" class="form1 clearfix">
                    <div class="col1 c1">
                        <div class="input1_wrapper border-l border-b border-t border-r">
                            <label>Check in</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input datepicker" placeholder="Check in">
                            </div>
                        </div>
                    </div>
                    <div class="col1 c2">
                        <div class="input1_wrapper border-l border-b border-t border-r">
                            <label>Check out</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input datepicker" placeholder="Check out">
                            </div>
                        </div>
                    </div>
                    <div class="col2 c3">
                        <div class="select1_wrapper border-l border-b border-t border-r">
                            <label>Adults</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">1 Adult</option>
                                    <option value="2">2 Adults</option>
                                    <option value="3">3 Adults</option>
                                    <option value="4">4 Adults</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c4">
                        <div class="select1_wrapper border-l border-b border-t border-r">
                            <label>Children</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Children</option>
                                    <option value="1">1 Child</option>
                                    <option value="2">2 Children</option>
                                    <option value="3">3 Children</option>
                                    <option value="4">4 Children</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c5">
                        <div class="select1_wrapper border-l border-b border-t border-r">
                            <label>Rooms</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">1 Room</option>
                                    <option value="2">2 Rooms</option>
                                    <option value="3">3 Rooms</option>
                                    <option value="4">4 Rooms</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col3 c6">
                        <button type="submit" class="btn-form1-submit">Check Now</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock%}
{% block footer_content%}
<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-30">
                <div class="item">
                    <div class="logo"><img src="{% static 'img/logo.png' %}" alt=""></div>
                    <p>{{hotel.slogan}}</p>
                    <div class="social-icons">
                        <ul class="list-inline">
                            <li><a href="https://instagram.com/your_page"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://facebook.com/your_page"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="https://linkedin.com/your_page"><i class="fa-brands fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 offset-md-1 mb-30">
                <div class="item">
                    <h3>Contact us</h3>
                    <p>{{ hotel.address|linebreaksbr }}</p>
                    <div class="phone"><a href="tel:{{hotel.phone}}">{{hotel.phone}}</a></div>
                    <div class="mail"><a href="mailto:{{hotel.email}}">{{hotel.email}}</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-30">
                <div class="item">
                    <h3>Subscribe</h3>
                    <p>Want to be notified about our services. Just sign up and we'll send you a notification by email.</p>
                    <div class="newsletter">
                        <form action="#">
                            <input type="email" placeholder="Email Address" required>
                            <button type="submit"><i class="fa-light fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bottom -->
<div class="bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="links">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="blog1.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-end">
                <p>Copyright 2025 by <a href="#">------</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block script %}
<!-- Vegas Background Slideshow (vegas.slider kenburns) -->
<script>
    $(document).ready(function() {
        $('#kenburnsSliderContainer').vegas({
            slides: {{ backgrounds_json|safe }},
            overlay: true,
            transition: 'fade2',
            animation: 'kenburnsUpRight',
            transitionDuration: 1000,
            delay: 10000,
            animationDuration: 20000
        });
    });
</script>
{% comment %} <script>
    $(document).ready(function() {
        $('#kenburnsSliderContainer').vegas({
            slides: [{ src: "{% static 'img/rooms/05.jpg' %}" },
            { src: "{% static 'img/rooms/02.jpg' %}" },
            { src: "{% static 'img/rooms/03.jpg' %}" },],
            overlay: true,
            transition: 'fade2',
            animation: 'kenburnsUpRight',
            transitionDuration: 1000,
            delay: 10000,
            animationDuration: 20000
        });
    });
</script> {% endcomment %}
{% endblock %}
