{% extends "base.html" %}
{% load static %}

{% block title %}Facilities | {{ hotel.name }}{% endblock %}

{% block content %} 
    <!-- Header Banner -->
    <section class="banner-header bg-img bg-fixed" data-overlay-dark="5" data-background={% static "img/banner/08.jpg"%}>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="subtitle">Our Services</div>
                    <div class="title">Hotel Facilities</div>
                </div>
            </div>
        </div>
    </section>
    <!-- Facilities 2 -->
    <section class="facilities2">
        <div class="border-bottom">
            <div class="container">
                <ul class="tab-buttons">
                    {% for facility_type in tab_facility_types %}
                    <li data-tab="#{{ facility_type }}" class="tab-btn {% if forloop.first %}active-btn{% endif %}"><span>{{ facility_type|title }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="container">
                <div class="tabs-content">
                    {% for facility_type in tab_facility_types %}
                    <div class="tab {% if forloop.first %}active-tab{% endif %}" id="{{ facility_type }}">
                        {% for facility in tab_facilities %}
                            {% if facility.type == facility_type %}
                            <div class="row justify-content-center align-items-center">
                                <div class="col-lg-6 col-md-12">
                                    {% if facility.image %}
                                    <img src="{{ facility.image.url }}" class="img-fluid" alt="{{ facility.name }}">
                                    {% else %}
                                    <img src="{% static 'img/offers/default.jpg' %}" class="img-fluid" alt="{{ facility.name }}">
                                    {% endif %}
                                </div>
                                <div class="col-lg-5 offset-lg-1 col-md-12">
                                    <div class="section-subtitle">{{ facility.title }}</div>
                                    <div class="section-title">{{ facility.name }}</div>
                                    <p class="mb-25">{{ facility.description }}</p>
                                    <ul class="list-unstyled list mb-30">
                                        {% if facility.short_note_1 %}
                                        <li>
                                            <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                            <div class="list-text">
                                                <p>{{ facility.short_note_1 }}</p>
                                            </div>
                                        </li>
                                        {% endif %}
                                        
                                        {% if facility.short_note_2 %}
                                        <li>
                                            <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                            <div class="list-text">
                                                <p>{{ facility.short_note_2 }}</p>
                                            </div>
                                        </li>
                                        {% endif %}
                                        
                                        {% if facility.short_note_3 %}
                                        <li>
                                            <div class="list-icon"> <span class="fa-regular fa-check"></span> </div>
                                            <div class="list-text">
                                                <p>{{ facility.short_note_3 }}</p>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% if facility.detail_file %}
                                    <a href="{{ facility.detail_file.url }}" target="_blank" class="button-3"><i class="fa-solid fa-info"></i> View details</a>
                                    {% comment %} {% else %}
                                    <a href="{% url 'facility-detail' facility.slug %}" class="button-3"><i class="fa-solid fa-info"></i> View details</a> {% endcomment %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
        </div>
    </section>
    <!-- Facilities 1 -->
    <section class="facilities section-padding bg-darkgray">
        <div class="container">
            <div class="row mb-25">
                <div class="col-md-12 text-center">
                    <div class="section-subtitle">Our Services</div>
                    <div class="section-title">Hotel Facilities</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <div class="img"><img src="{% static 'img/offers/09.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="cont"> <i class="fa-thin fa-utensils"></i>
                            <h4>Restaurant</h4>
                            <p>Culinary Experiences</p>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <div class="img"><img src="{% static 'img/offers/10.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="cont"> <i class="fa-thin fa-spa"></i>
                            <h4>Spa & Wellness</h4>
                            <p>Sauna, Massage</p>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item"> <img src="{% static 'img/offers/11.jpg' %}" class="img-fluid" alt="">
                        <div class="cont"> <i class="fa-thin fa-person-swimming"></i>
                            <h4>Pool Swimming</h4>
                            <p>Indoor & Outdoor</p>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item"> <img src="{% static 'img/offers/12.jpg' %}" class="img-fluid" alt="">
                        <div class="cont"> <i class="fa-thin fa-dumbbell"></i>
                            <h4>Fitness Center</h4>
                            <p>Training Spaces</p>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
