{% extends "base.html" %}
{% load static %}

{% block title %}Rooms{% endblock %}

{% block content %} 
<!-- Header Banner -->
<section class="banner-header bg-img bg-fixed" data-overlay-dark="5" data-background={% static "img/rooms/02.jpg"%}>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="subtitle">Rixos Luxury Hotel</div>
                <div class="title">Rooms <span>&</span> Suites</div>
            </div>
        </div>
    </div>
</section>
 <!-- Rooms 2 -->
<section class="rooms2 section-padding">
    <div class="container">

        {% for room in rooms %}
        <div class="row g-0 justify-content-center align-items-center {% cycle 'bg-lightbrown br-0550 mb-90' 'bg-lightbrown br-5005 mb-90' %}">
            {% if forloop.counter|divisibleby:"2" %}
                {# Even items: Image Left, Text Right #}
                <div class="col-lg-5 col-md-12">
                    <div class="item">
                        <h3 class="title">{{ room.name }}</h3>
                        <p>{{ room.description|truncatewords:30 }}</p>

                        <div class="row room-features">
                            <div class="col-lg-6 col-md-12">
                                <ul>
                                    <li><i class="fa-thin fa-user"></i> {{ room.number_of_persons }} Persons</li>
                                    <li><i class="fa-thin fa-expand"></i> {{ room.area }} sqft room</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <ul>
                                    <li><i class="fa-thin fa-bed-front"></i> {{ room.get_bed_type_display }}</li>
                                    <li><i class="fa-thin fa-mug-saucer"></i> {% if room.includes_breakfast %} Breakfast {% else %} No Breakfast {% endif %}</li>
                                </ul>
                            </div>
                        </div>

                        <div class="line-dec"></div>

                        <div class="book">
                            <div>
                                <div class="price">${{ room.price_per_night }} <span>/ night</span></div>
                            </div>
                            <div>
                                <a href="#" class="button-3">Book now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="img">
                            {% if room.image_cover %}
                                <img src="{{ room.image_cover.url }}" class="img-fluid br-0550" alt="{{ room.name }}">
                            {% else %}
                                <img src="{% static 'img/default_room.jpg' %}" class="img-fluid br-0550" alt="Room">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                {# Odd items: Image Right, Text Left #}
                <div class="col-lg-7 col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="img">
                            {% if room.image_cover %}
                                <img src="{{ room.image_cover.url }}" class="img-fluid br-0550" alt="{{ room.name }}">
                            {% else %}
                                <img src="{% static 'img/default_room.jpg' %}" class="img-fluid br-0550" alt="Room">
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12">
                    <div class="item">
                        <h3 class="title">{{ room.name }}</h3>
                        <p>{{ room.description|truncatewords:30 }}</p>

                        <div class="row room-features">
                            <div class="col-lg-6 col-md-12">
                                <ul>
                                    <li><i class="fa-thin fa-user"></i> {{ room.number_of_persons }} Persons</li>
                                    <li><i class="fa-thin fa-expand"></i> {{ room.area }} sqft room</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <ul>
                                    <li><i class="fa-thin fa-bed-front"></i> {{ room.get_bed_type_display }}</li>
                                    <li><i class="fa-thin fa-mug-saucer"></i> {% if room.includes_breakfast %} Breakfast {% else %} No Breakfast {% endif %}</li>
                                </ul>
                            </div>
                        </div>

                        <div class="line-dec"></div>

                        <div class="book">
                            <div>
                                <div class="price">${{ room.price_per_night }} <span>/ night</span></div>
                            </div>
                            <div>
                                <a href="#" class="button-3">Book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</section>
<!-- Video -->
<section class="video-wrapper section-padding bg-img" data-overlay-dark="4" data-background="img/banner/01.jpg">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 text-center rotatex">
                <a href="https://youtu.be/hG7Ok0HvDcU" data-lity="video" class="rotate-box vid">
                    <div class="rotate-circle rotate-text">
                        <svg class="textcircle" viewBox="0 0 500 500">
                            <defs>
                                <path id="textcircle" d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z"> </path>
                            </defs>
                            <text>
                                <textPath xlink:href="#textcircle" textLength="900"> rixos luxury resort hotel </textPath>
                            </text>
                        </svg>
                    </div> <span class="icon"> <i class="fas fa-play"></i> </span>
                </a>
            </div>
        </div>
    </div>
    <!-- video text -->
    <div class="video-text">videos</div>
</section>
<!-- Offers 1 -->
<section class="offers1 section-padding bg-darkgray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">Comfort & Relax</div>
                <div class="section-title">Exclusive Offers</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="img"> <img src="{% static 'img/offers/01.jpg' %}" alt=""> </div>
                    <div class="con">
                        <div class="title">Stay</div>
                        <div class="arrow"> <a href="#"><span class="fa-light fa-arrow-right"></span></a> </div>
                    </div>
                    <div class="price">30% off</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="img"> <img src="{% static 'img/offers/02.jpg' %}" alt=""> </div>
                    <div class="con">
                        <div class="title">Dine</div>
                        <div class="arrow"> <a href="#"><span class="fa-light fa-arrow-right"></span></a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="img"> <img src="{% static 'img/offers/03.jpg' %}" alt=""> </div>
                    <div class="con">
                        <div class="title">Relax</div>
                        <div class="arrow"> <a href="#"><span class="fa-light fa-arrow-right"></span></a> </div>
                    </div>
                    <div class="price">20% off</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="img"> <img src="{% static 'img/offers/04.jpg' %}" alt=""> </div>
                    <div class="con">
                        <div class="title">Weddings</div>
                        <div class="arrow"> <a href="#"><span class="fa-light fa-arrow-right"></span></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQs -->
<section class="faqs section-padding">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-md-12 mb-30">
                <div class="section-subtitle">Popular Questions</div>
                <div class="section-title">Frequently Asked Questions</div>
                <p class="mb-25">The experience elementum sesue in the miss aucantion alesun in sapien fermen the miss caleustion in the sapien.</p> <a href="#" class="button-3">All Questions</a>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12">
                <ul class="accordion-box clearfix">
                    <li class="accordion block">
                        <div class="acc-btn">Do you have any discount code?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum is simply dummy text of the printing and typesetting industry sapien fermen drana inthe miss molestie non tempor fermen the varius vestibulum drana.</p>
                            </div>
                        </div>
                    </li> 
                    <li class="accordion block">
                        <div class="acc-btn">How can I get in touch with my hotel?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum is simply dummy text of the printing and typesetting industry sapien fermen drana inthe miss molestie non tempor fermen the varius vestibulum drana.</p>
                            </div>
                        </div>
                    </li> 
                    <li class="accordion block">
                        <div class="acc-btn">Can I cancel my reservation?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum is simply dummy text of the printing and typesetting industry sapien fermen drana inthe miss molestie non tempor fermen the varius vestibulum drana.</p>
                            </div>
                        </div>
                    </li>
                    <li class="accordion block">
                        <div class="acc-btn">Do you have hotels with a spa?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Lorem ipsum is simply dummy text of the printing and typesetting industry sapien fermen drana inthe miss molestie non tempor fermen the varius vestibulum drana.</p>
                            </div>
                        </div>
                    </li> 
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Booking Search -->
<section class="section-padding bg-img bg-fixed" data-overlay-dark="5" data-background={% static "img/rooms/01.jpg"%}>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">Hotel Experience</div>
                <div class="section-title white">Booking Form</div>
            </div>
        </div>
        <div class="booking-inner clearfix">
            <form action="#" class="form1 clearfix">
                <div class="col1 c1">
                    <div class="input1_wrapper border-l border-b border-t border-r">
                        <label>Check in</label>
                        <div class="input1_inner">
                            <input type="text" class="form-control input datepicker" placeholder="Check in">
                        </div>
                    </div>
                </div>
                <div class="col1 c2">
                    <div class="input1_wrapper border-l border-b border-t border-r">
                        <label>Check out</label>
                        <div class="input1_inner">
                            <input type="text" class="form-control input datepicker" placeholder="Check out">
                        </div>
                    </div>
                </div>
                <div class="col2 c3">
                    <div class="select1_wrapper border-l border-b border-t border-r">
                        <label>Adults</label>
                        <div class="select1_inner">
                            <select class="select2 select" style="width: 100%">
                                <option value="1">1 Adult</option>
                                <option value="2">2 Adults</option>
                                <option value="3">3 Adults</option>
                                <option value="4">4 Adults</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col2 c4">
                    <div class="select1_wrapper border-l border-b border-t border-r">
                        <label>Children</label>
                        <div class="select1_inner">
                            <select class="select2 select" style="width: 100%">
                                <option value="1">Children</option>
                                <option value="1">1 Child</option>
                                <option value="2">2 Children</option>
                                <option value="3">3 Children</option>
                                <option value="4">4 Children</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col2 c5">
                    <div class="select1_wrapper border-l border-b border-t border-r">
                        <label>Rooms</label>
                        <div class="select1_inner">
                            <select class="select2 select" style="width: 100%">
                                <option value="1">1 Room</option>
                                <option value="2">2 Rooms</option>
                                <option value="3">3 Rooms</option>
                                <option value="4">4 Rooms</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col3 c6">
                    <button type="submit" class="btn-form1-submit">Check Now</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}