{% extends "base.html" %}
{% load static %}
{% block content %}
 <!-- Header Banner -->
 <section class="banner-header full-height valign bg-img" data-overlay-dark="5" data-background="{{ room.image_cover.url }}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 text-center">
                <h5>Laid-back places</h5>
                <h1>{{ room.name}}</h1>
                <div class="details"> 
                    <span><i class="fa-thin fa-bed-front"></i>{{room.number_of_beds}} Bed</span>
                    <span><i class="fa-thin fa-expand"></i>{{ room.area }} Sqm</span>
                    <span><i class="fa-thin fa-bath"></i>{{room.number_of_bathrooms}} Bathroom</span>
                    <span><i class="fa-thin fa-mug-saucer"></i> {% if room.includes_breakfast %}Breakfast{% else %}No Breakfast{% endif %}</span> 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room Details -->
<section class="page-details section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 mb-30">
                <div class="row mb-30">
                    <div class="col-md-12">
                        <div class="section-subtitle">Relax and Enjoy</div>
                        <div class="section-title">{{ room.name }}</div>
                        <p>{{ room.description }}</p>
                        {% if room.short_description %}
                            <p>{{ room.short_description }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-30">
                        <h5>Check-in</h5>
                        <ul class="list-unstyled page-list">
                            <li>
                                <div class="page-list-icon"><span class="ti-check"></span></div>
                                <div class="page-list-text"><p>{{ room.check_in_notes }}</p></div>
                            </li>
                            <li>
                                <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                <div class="page-list-text">
                                    <p>Early check-in subject to availability</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-md-12 mb-30">
                        <h5>Check-out</h5>
                        <ul class="list-unstyled page-list">
                            <li>
                                <div class="page-list-icon"><span class="ti-check"></span></div>
                                <div class="page-list-text"><p>{{ room.check_out_notes }}</p></div>
                            </li>
                            <li>
                                <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                <div class="page-list-text">
                                    <p>Express check-out</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row mb-30">
                    <div class="col-md-12">
                        <h5>Special Check-in Instructions</h5>
                        <p>{{ room.special_check_in_instructions }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h5>Children and Extra Beds</h5>
                        <p>{{ room.children_and_extra_beds_notes }}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 offset-lg-1 col-md-12">
                <div class="cont">
                    <h5>Room Equipment</h5>
                    <ul class="list">
                        {% for amenity in room.amenities.all %}
                            <li>
                                <span><i class="fa-light fa-{{ amenity.icon }}"></i></span>
                                <span>{{ amenity.name }}</span>
                            </li>
                        {% empty %}
                            <li>No amenities listed</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Gallery Images -->
<section class="galleryscroll section-padding bg-darkgray">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">Room Images</div>
                <div class="section-title white">{{ room.name }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    {% for image in room.room_images.all %}
                        <div class="item">
                            <a href="{{ image.image.url }}" title="{{ image.caption }}" class="gallery-masonry-item-img-link img-zoom">
                                <div class="img">
                                    <img src="{{ image.image.url }}" class="img-fluid mx-auto d-block" alt="{{ image.caption|default:room.name }}">
                                </div>
                            </a>
                        </div>
                    {% empty %}
                        <div class="item">
                            <div class="img">
                                <img src="{% static 'img/default_room.jpg' %}" class="img-fluid mx-auto d-block" alt="Room">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- FAQs -->
    <section class="faqs section-padding">
        <div class="container">
            <div class="row justify-content-center align-items-center">
    
                <!-- Left side -->
                <div class="col-lg-5 col-md-12 mb-30">
                    <div class="section-subtitle">Popular Questions</div>
                    <div class="section-title">Frequently Asked Questions</div>
                    <p class="mb-25">Find answers to common questions about {{ room.hotel.name }}.</p>
    
                    <!-- Button to all questions page -->
                    <a href="" class="button-3">All Questions</a>
                </div>
    
                <!-- Right side: Dynamic FAQs -->
                <div class="col-lg-6 offset-lg-1 col-md-12">
                    <ul class="accordion-box clearfix">
                        {% for faq in faqs %}
                            <li class="accordion block">
                                <div class="acc-btn">{{ faq.question }}</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>{{ faq.answer }}</p>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li class="accordion block">
                                <div class="acc-btn">No FAQs yet</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>Please contact us if you have any questions.</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
    
            </div>
        </div>
    </section>
    <!-- Booking Search -->
    <section class="section-padding bg-img bg-fixed" data-overlay-dark="5" data-background="img/rooms/01.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mb-20">
                    <div class="section-subtitle">Hotel Experience</div>
                    <div class="section-title white">Booking Form</div>
                </div>
            </div>
            <div class="booking-inner clearfix">
                <form action="#" class="form1 clearfix">
                    <div class="col1 c1">
                        <div class="input1_wrapper border-l border-b border-t border-r">
                            <label>Check in</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input datepicker" placeholder="Check in">
                            </div>
                        </div>
                    </div>
                    <div class="col1 c2">
                        <div class="input1_wrapper border-l border-b border-t border-r">
                            <label>Check out</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input datepicker" placeholder="Check out">
                            </div>
                        </div>
                    </div>
                    <div class="col2 c3">
                        <div class="select1_wrapper border-l border-b border-t border-r">
                            <label>Adults</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">1 Adult</option>
                                    <option value="2">2 Adults</option>
                                    <option value="3">3 Adults</option>
                                    <option value="4">4 Adults</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c4">
                        <div class="select1_wrapper border-l border-b border-t border-r">
                            <label>Children</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Children</option>
                                    <option value="1">1 Child</option>
                                    <option value="2">2 Children</option>
                                    <option value="3">3 Children</option>
                                    <option value="4">4 Children</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c5">
                        <div class="select1_wrapper border-l border-b border-t border-r">
                            <label>Rooms</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">1 Room</option>
                                    <option value="2">2 Rooms</option>
                                    <option value="3">3 Rooms</option>
                                    <option value="4">4 Rooms</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col3 c6">
                        <button type="submit" class="btn-form1-submit">Check Now</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}