
    <!--  Video Gallery -->
    <section class="video-gallery section-padding bg-darkgray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="item"> <img src="img/gallery/07.jpg" class="img-fluid" alt="">
                        <div class="curv-butn">
                            <a href="https://www.youtube.com/watch?v=ww6NpQU-Blc" class="vid">
                                <div class="icon"> <i class="fa-light fa-play"></i> </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="item"> <img src="img/gallery/08.jpg" class="img-fluid" alt="">
                        <div class="curv-butn">
                            <a href="https://www.youtube.com/watch?v=dxhw0A7hx_M" class="vid">
                                <div class="icon"> <i class="fa-light fa-play"></i> </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="item"> <img src="img/gallery/09.jpg" class="img-fluid" alt="">
                        <div class="curv-butn">
                            <a href="https://www.youtube.com/watch?v=vMPKXeYurWQ" class="vid">
                                <div class="icon"> <i class="fa-light fa-play"></i> </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="item"> <img src="img/gallery/10.jpg" class="img-fluid" alt="">
                        <div class="curv-butn">
                            <a href="https://www.youtube.com/watch?v=hG7Ok0HvDcU" class="vid">
                                <div class="icon"> <i class="fa-light fa-play"></i> </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="item"> <img src="img/gallery/11.jpg" class="img-fluid" alt="">
                        <div class="curv-butn">
                            <a href="https://www.youtube.com/watch?v=7KtVUH9LpGM" class="vid">
                                <div class="icon"> <i class="fa-light fa-play"></i> </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   